# requirements.txt
# moviepy==1.0.3 videomaker.py cog not in use
numpy==1.26.4
discord.py==2.3.2
python-dotenv==1.0.1
aiosqlite==0.20.0
Pillow==10.2.0
pydantic==2.12.5
sqlmodel==0.0.38
withoutbg==1.0.2
rembg==2.0.53
PyNaCl==1.6.2
yt-dlp
gallery-dl
instaloader
tmdbsimple
facefusion
onnxruntime-gpu
insightface